<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liuchaoya.main">

    <application
        android:name=".debug.MyApplication"
        android:icon="@android:mipmap/sym_def_app_icon">
        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>